:root {
    --header-bg: #012D63;
    --main-text-color: #fff;
    --second-text-color: #C7C7C7;
    --third-text-color: #DCDCDC;
    --fourth-text-color: #D8D8D8;
    --fifth-text-color: #959595;
    --sixth-text-color: #8D8D8D;
    --acent-color: #8E32C6;
    --font-family: "Roboto", sans-serif;
    --second-family: "Playfair Display", serif;
    --third-family: "PT Serif", serif;
}
.body{
    font-family: var(--font-family);
    color: var(--main-text-color);
    font-weight: 400;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 3px solid pink;
}
.header{
    padding: 15px 15px;
    background-color: var(--header-bg);
}

.header_container {
    display: flex;
    align-items: center;
}
.header_logo img{
    height: 48px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    padding: 0 60px;
}

.header_list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header_item{
    font-weight: 300;
    font-size: 24px;
    color: var(--second-text-color);
}
.current{
    font-weight: 400;
    color: var(--main-text-color);
}
.header_language {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
}

.header_item_language{
    font-weight: 300;
    font-size: 24px;
    color: var(--third-text-color);
}
.header_item_language:last-child{
    font-weight: 400;
    color: var(--main-text-color);
}

.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--main-text-color);
    padding: 150px 0;
}

.hero_title {
    font-family: var(--second-family);
    font-size: 144px;
    margin-bottom: 8px;
}

.hero_subtitle {
    font-family: var(--second-family);
    font-size: 72px;
    margin-bottom: 12px;
}

.hero_text {
    max-width: 700px;
    font-size: 18px;
    margin-bottom: 40px;
}

.hero_button {
    background-color: var(--acent-color);
    text-decoration: none;
    padding: 16px 32px;
    font-size: 24px;
    border-radius: 7px;
}

.hero_button:hover {
    background-color: #6e0eaa;
}

.benefits {
    height: 606px;
    color: var(--main-text-color);
    background-image: url('../img/benefits.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 105px 165px;
    display: flex;
    align-items: center;
}

.benefits_container {
    display: flex;
    justify-content: center;
    border: 3px solid var(--acent-color);
}

.benefits_list {
    display: flex;
    gap: 145px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.benefits_item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    font-family: var(--second-family);
}

.benefits_item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 5%;
    right: -72px;
    height: 90%;
    width: 1px;
    background-color: var(--main-text-color);
    opacity: 0.3;
}

.benefits_text {
    font-family: var(--second-family);
    max-width: 150px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 4px;
    line-height: 1.2;
}

