:root {
    --footer-bg: #021635;
    --header-bg: #012D63;
    --main-text-color: #fff;
    --second-text-color: #C7C7C7;
    --third-text-color: #DCDCDC;
    --fourth-text-color: #D8D8D8;
    --fifth-text-color: #959595;
    --sixth-text-color: #8D8D8D;
    --footer-before-color: #9B9B9B;
    --acent-color: #8E32C6;
    --font-family: "Roboto", sans-serif;
    --second-family: "Playfair Display", serif;
    --third-family: "PT Serif", serif;
}

.body{
    font-family: var(--font-family);
    color: var(--main-text-color);
    font-weight: 400;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 3px solid pink;
}

.header{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--header-bg);
}

.header_container {
    display: flex;
    align-items: center;
}

.header_logo img{
    height: 48px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

.header_list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header_item{
    font-weight: 300;
    font-size: 24px;
    color: var(--second-text-color);
}
.current,
.header_item:hover,
.header_item_language:hover{
    font-weight: 400;
    color: var(--main-text-color);
}
.header_language {
    display: flex;
    gap: 16px;
    list-style: none;
    align-items: center;
}

.header_item_language{
    font-weight: 300;
    font-size: 24px;
    color: var(--third-text-color);
}
.header_item_language:last-child{
    font-weight: 400;
    color: var(--main-text-color);
}

.header_item_language_ua {
    font-weight: 300;
    font-size: 24px;
    color: var(--third-text-color);
}

.header_item_language_ua:first-child {
    font-weight: 400;
    color: var(--main-text-color);
}

.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--main-text-color);
    padding: 150px 0;
}

.hero_title {
    font-family: var(--second-family);
    font-size: 144px;
    margin-bottom: 8px;
}

.hero_subtitle {
    font-family: var(--second-family);
    font-size: 72px;
    margin-bottom: 12px;
}

.hero_text {
    max-width: 700px;
    font-size: 18px;
    margin-bottom: 40px;
}

.hero_button {
    display: inline-block;
    background-color: var(--acent-color);
    text-decoration: none;
    padding: 16px 32px;
    font-size: 24px;
    border-radius: 7px;
}

.hero_button:hover {
    background-color: #6e0eaa;
    cursor: pointer;
}

.benefits {
    height: 606px;
    color: var(--main-text-color);
    background-image: url('../img/benefits.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 105px;
    display: flex;
    align-items: center;
}

.benefits_container {
    display: flex;
    justify-content: center;
}

.benefits_list {
    display: flex;
    gap: 145px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 3px solid var(--acent-color);
}

.benefits_item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    font-family: var(--second-family);
}

.benefits_item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 5%;
    right: -72px;
    height: 90%;
    width: 1px;
    background-color: var(--main-text-color);
    opacity: 0.3;
}

.benefits_item:nth-child(2){
    display: flex;
    flex-direction: column-reverse;
}

.benefits_text {
    font-family: var(--second-family);
    max-width: 150px;
    font-size: 36px;
    text-align: center;
    margin-bottom: 4px;
    line-height: 1.2;
}
.benefits_item img{
    width: 240px;
    height: 240px;
}

.reviews {
    height: 520px;
    color: var(--main-text-color);
    background-image: url('../img/reviews.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 25px;
    display: flex;
    align-items: center;
}

.reviews_title {
    font-family: var(--second-family);
    font-size: 48px;
    text-align: center;
    margin-bottom: 24px;
}

.reviews_list {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.reviews_item {
    border-radius: 15px;
    padding-left: 18px;
    width: 255px;
    padding-top: 49px;
}

.reviews_item:first-child {
    box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
    background-image:
        linear-gradient(135deg,
            #00e5e6 7%,
            #00a8f7 26%,
            #9a76f9 63%,
            #cc5ec2 100%);
}

.reviews_item:nth-child(2) {
    box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
    background-image:
        linear-gradient(135deg,
            #FF68B4 7%,
            #FF45E1 26%,
            #CE3AFF 63%,
            #8961FF 100%);
}

.reviews_item:last-child {
    box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
    background-image:
        linear-gradient(135deg,
            #FFE128 7%,
            #FF9B5C 30%,
            #FF8381 63%,
            #FF5489 100%);
}

.reviews_text {
    
    font-size: 24px;
    margin-bottom: 8px;
}

.reviews_time {
    font-size: 14px;
    color: var(--fourth-text-color);
    margin-bottom: 47px;
}

.reviews_account {
    display: flex;
}

.reviews_name {
    font-size: 14px;
}

.reviews_year {
    font-size: 12px;
    color: var(--fourth-text-color);
}

.reviews_info {
    margin-left: 5px;
    flex-direction: column;
}
.order {
    height: 509px;
    background-image: url('../img/order.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.order_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order_title {
    color: var(--main-text-color);
    margin-bottom: 33px;
    font-family: var(--second-family);
    font-size: 48px;
}

.order_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.order_row {
    display: flex;
    justify-content: space-between;
    width: 690px;
    height: 60px;
    background-color: var(--main-text-color);
    border-radius: 50px;
    overflow: hidden;
}

.order_row input {
    border: none;
    outline: none;
    padding: 0 20px;
    flex: 1;
    font-size: 18px;
    color: var(--fifth-text-color);
}

.order_list_button {
    margin-left: auto;
    font-size: 28px;
    width: 250px;
    height: 50px;
    color: var(--sixth-text-color);
}

.order_list_button:hover {
    cursor: pointer;
    color: var(--acent-color);
}

.order_list input[type="text"],
.order_list input[type="email"] {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 580px;
    height: 50px;
    background-color: var(--main-text-color);
    color: var(--fifth-text-color);
}

.order_list input[type="email"] {
    border-radius: 50px;
    width: 690px;
    height: 60px;
}
.order_list input::placeholder{
    padding-left: 24px;
    font-size: 24px;
}
.order_button{
    color: var(--main-text-color);
    width: 248px;
    height: 68px;
    border-radius: 16px;
    background-color: var(--acent-color);
    font-size: 24px;
}

.order_button:hover {
    background-color: #6e0eaa;
    cursor: pointer;
}

.footer{
    height: 292px;
    padding: 45px;
    background-color: var(--footer-bg);
    color: var(--main-text-color);
}

.footer_div_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer_list_left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.footer_list_right{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.footer_right_item:hover{
    color: var(--acent-color);
    cursor: pointer;
}

.footer_item{
    font-size: 24px;
}

.footer_right_item{
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 24px;
}

.footer_div_bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-bg);
    color: var(--main-text-color);
    font-size: 18px;
    margin: 0 auto;
}

.footer_div_bottom::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--footer-before-color);
}

.footer_text{
    margin: 0;
    line-height: 1.5;
}

.footer_logo img {
    width: 108px;
    height: 89px;
    object-fit: contain;
}